{# ไฟล์นี้ใช้เป็นเท็มเพลตหรือ layout ของแต่ละหน้าเว็บ #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="./../assets/css/main.css">
  <title>{% block pageTitle %}{% endblock %}</title>
</head>
<body>
  <h1>Test1</h1>
  {# ใช้ในการเอาชิ้นส่วนของโค้ดจากไฟล์อื่นเข้ามาใส่ #}
  {% include "./../partial/navbar.html" %}

  {# ใช้สำหรับน้ำโค้ดจากไฟล์ที่มีแท็ก { extends xxx.html } มาใส่ โดยจะอ้างอิงจาก block ที่มีชื่อเหมือนกัน (เช่น content) #}
  {% block content %}{% endblock %}


  <script src="./../assets/js/app.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>